<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-default">
                    <div class="card-header">Questionnaire</div>

                    <div class="card-body">
                        <a :href="this.createRoute">Create Questionnaire</a>
                        <table-component :data="fetchData" sort-by="id" sort-order="asc" >
                            <table-column show="id" label="ID" :sortable="true" :filterable="true"></table-column>
                            <table-column show="name" label="Name"></table-column>
                            <table-column show="questions_count" label="Number of Questions"></table-column>
                            <table-column show="duration" label="Duration"></table-column>
                            <table-column show="resumeable" label="Resumeable"></table-column>
                            <table-column show="published" label="published"></table-column>
                        </table-component>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>


    export default {
        props:['createRoute'],
        mounted() {
            console.log('Q mounted.')
        },
        methods: {
            fetchData({page,filter,sort}) {
                return new Promise(resolve=>{
                    axios.get(`/api/questionnaire?page=${page}&ajax=true&filter=${filter}&sort=${sort}`).then(response=>resolve({
                                                                                                  data: response.data.data,
                                                                                                  pagination: {
                                                                                                      totalPages: response.data.last_page,
                                                                                                      currentPage: page,
                                                                                                      count: response.data.count
                                                                                                  },
                                                                                              }))
                })
            }
        }
    }
</script>
