<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card card-default">
                    <div class="card-header">Questionnaire Create</div>

                    <div class="card-body">

                        <form v-show="!edit" action="#"
                              @submit.prevent="createQuestionnaire()" class="form-horizontal">

                            <div class="input-group">
                                <label>Questionnaire Name</label>

                                <input v-model="questionnaire.name" type="text" name="name"
                                       class="form-control col-md-8" placeholder="Enter Questionnaire Name">
                            </div>

                            <div class="input-group">
                                <label>Duration</label>
                                <input v-model="questionnaire.duration" type="number" name="duration"
                                       class="form-control col-md-4" placeholder="Enter Duration">
                                <select v-model="questionnaire.duration_type" class="form-control col-md-2">
                                    <option value="minutes">Minutes</option>
                                    <option value="hours">Hours</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label class="">Resumable</label>
                                <input v-model="questionnaire.resumeable" type="radio" class="radio"
                                       name="resumeable" value="1" />
                                Yes
                                <input v-model="questionnaire.resumeable" type="radio" class="radio"
                                       name="resumeable" value="0" />
                                No
                            </div>
                            <div class="form-group">
                                <button v-show="!edit" type="submit" class="btn btn-primary">Save Questionnaire</button>
                            </div>
                        </form>

                        <form v-show="edit" action="#"
                              @submit.prevent="updateQuestionnaire()">
                            <h3>Add Questions</h3>
                            <div v-for="(input, index) in inputs" class="form-group">
                                <!--{{input}}-->

                                <select @change="call(index,input.type)" v-model="input.type">
                                    <option value="text">Text</option>
                                    <option value="mcqs">Multiple Choice (Single Choice)</option>
                                    <option value="mcqm">Multiple Choice (Multiple Choice)</option>
                                </select>

                                <div v-if="input.type == 'text'" class="form-group">
                                    <div class="form-inline">
                                        <input type="text" v-model="input.question" placeholder="Enter Question"
                                               class="col-md-8 form-control">
                                        <a href="javascript:void(0)" @click="removeQuestion(index)"> <u> Delete
                                            Question</u></a>
                                    </div>
                                    <input type="text" v-model="input.answer" placeholder="Enter Answer"
                                           class="col-md-8 form-control">
                                </div>

                                <div v-if="input.type == 'mcqs'" class="form-group">
                                    <div class="form-inline">

                                        <input type="text" v-model="input.question"
                                               placeholder="Enter Question Single" class="col-md-8 form-control">
                                        <a href="javascript:void(0)" @click="removeQuestion(index)"> <u> Delete
                                            Question</u></a>
                                    </div>
                                    <div v-for="(choice,index) in input.choices" class="form-inline">
                                        <input type="text" v-model="choice.choice" placeholder="Enter Choice"
                                               class="col-md-8 form-control">
                                        <span style="display: inline-block">
                                            Correct? <input type="checkbox" v-model="choice.correct">
                                            <a href="javascript:void(0)" @click="removeChoice(input.choices,index)"
                                               class="underline"><u>Delete
                                                Choice</u></a>
                                        </span>
                                    </div>
                                    <div>
                                        <a href="javascript:void(0)" @click="addChoice(input.choices)"><u>Add Choice</u></a>
                                    </div>
                                </div>


                                <div v-if="input.type == 'mcqm'" class="form-group">
                                    <div class="form-inline">
                                        <input type="text" v-model="input.question"
                                               placeholder="Enter Question Multiple" class="col-md-8 form-control">
                                        <a href="javascript:void(0)" @click="removeQuestion(index)"> <u> Delete
                                            Question</u></a>
                                    </div>
                                    <div v-for="(choice,index) in input.choices" class="form-inline">
                                        <input type="text" v-model="choice.choice" placeholder="Enter Choice"
                                               class="col-md-8 form-control">
                                        <span style="display: inline-block">
                                            Correct? <input type="checkbox" v-model="choice.correct" class="">
                                            <a href="javascript:void(0)" @click="removeChoice(input.choices,index)"><u>Delete
                                                Choice</u></a>
                                        </span>
                                    </div>
                                    <div>
                                        <a href="javascript:void(0)" @click="addChoice(input.choices)"><u>Add Choice</u></a>
                                    </div>
                                </div>

                            </div>
                            <a href="javascript:void(0)" @click="call(index++,selectValue)"><u>Add Question</u></a>
                            <div>
                                <button v-show="edit" type="submit" class="btn btn-primary"><u>Update Questionnaire</u></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import CxltToastr from 'cxlt-vue2-toastr';

    const toastrConfigs = {
        position: 'top right',
        closeButton: true,
        showMethod: 'lightSpeedIn',
        hideMethod: 'lightSpeedOut',
        timeOut: 10000
    };

    Vue.use ( CxltToastr, toastrConfigs );

    export default {
        mounted () {
            console.log ( 'QC mounted.' )
        },
        created () {
            this.addQuestion ( this.index, this.selectValue )
        },
        data: function () {
            return {
                inputs: [],
                edit: false,
                selectValue: 'text',
                index: 1,

                questionnaire: {
                    id: '',
                    name: '',
                    duration: '',
                    duration_type: 'minutes',
                    resumeable: '0'
                },
            }
        },
        methods: {
            addQuestion ( index, selectValue ) {

                if ( selectValue == "text" ) {
                    this.inputs.splice(index,1,{
                                           type: 'text',
                                           question: '',
                                           answer: ''
                                       } )
                }
                else if ( selectValue == "mcqm" ) {
                    this.inputs.splice (index,1, {
                                           type: 'mcqm',
                                           question: '',
                                           choices: [
                                               {
                                                   correct: false
                                               },
                                           ],
                                       } )
                }
                else if ( selectValue == "mcqs" ) {
                    this.inputs.splice (index,1, {
                                           type: 'mcqs',
                                           question: '',
                                           choices: [
                                               {
                                                   correct: false
                                               },

                                           ],
                                       } )
                }

            },
            removeQuestion ( index ) {
                this.inputs.splice ( index,1)
                this.index--
            },
            addChoice ( choices ) {

                choices.push ( {} )
            },
            removeChoice ( choices, index ) {
                choices.splice ( index, 1 )


            },

            call ( index, selectValue ) {
                // this.removeQuestion ( index )
                this.addQuestion ( index, selectValue )


            },
            createQuestionnaire () {
                axios.post ( '/api/questionnaire', this.questionnaire ).then ( response => {


                    if ( response.data.questionnaire.status ) {
                        this.$toast.info ( {
                                               title: response.data.questionnaire.title,
                                               message: response.data.questionnaire.message
                                           } );


                        this.edit = true;
                        this.questionnaire = response.data.questionnaire.data
                    }

                } );
            },
            updateQuestionnaire () {
                axios.put ( '/api/questionnaire/' + this.questionnaire.id, this.inputs ).then ( response => {

                    if ( response.data.questionnaire.status ) {
                        this.$toast.info ( {
                                               title: response.data.questionnaire.title,
                                               message: response.data.questionnaire.message
                                           } );
                        this.edit = true;
                    }

                } );
            }
        }
    }
</script>
<style src="cxlt-vue2-toastr/dist/css/cxlt-vue2-toastr.css"></style>
<style>
    label {
        /*display: inline-block;*/
        float: left;
        clear: left;
        width: 250px;
        text-align: left;
    }

    /*input {*/
    /*display: inline-block;*/
    /*float: right;*/
    /*}*/
</style>
